

img.MuseScore{
    width: 35%;
}

#copyright {
    position: fixed;
    top: 95%;
    width: 100%;

    color: red;
    font-family: courier;
}

#sidebar {
    position: fixed;
    top: 100px;
    left: 50%;
    width: 50%
    height: 100%;
    margin-right: 50px;
}
#main-content {
    position: relative;
    top: 100px;
    left: 0px;

    margin-left: 50px;
    margin-right: 50%;
    height: 100%;
}

#title{
    color: red;
    position: fixed;
    font-family: courier;
}

#navigtion-bar{
    height: 25%;
    position: fixed:
}

#about{
    top: 100px:
    margin-left: 35%;
    margin-right: 35%;
}

#links{
    /*float: right;*/

}
