

img.MuseScore{
    width: 35%;
}

#copyright {
    position: fixed;
    top: 95%;
    width: 100%;

    color: red;
    font-family: courier;
}

#sidebar {
    position: fixed;
    top: 100px;
    left: 50%;
    width: 50%
    height: 100%;
    margin-right: 50px;
}
#main-content {
    position: relative;
    top: 100px;
    left: 0px;

    margin-left: 50px;
    margin-right: 50%;
    height: 100%;
}

#title{
    color: red;
    position: fixed;
    font-family: courier;
    text-shadow: 3px 2px black;
}

a{
    letter-spacing: 3px;
    color: #3ca889;
}
a:hover{
    background-color: #eaeaea;
}

article{

  width: 50%;
  margin-left: 25%;
  padding-top: 4rem;
}

article p{

  text-align: center;
}
