p{
    border: 1px;
    padding: 20px;
}

div.fixed{
    position: fixed;
}

img{
    float: left;
    margin-right: 100px;
}


#title{
    color: red;
    position: fixed;
    font-family: courier;
}
