

:root {
    --blue: #425CDE;
    --gray: #C6DDEB;
    --green: #449280;
    --red: #FF2574;
    --orange: #FF9F53;
}

*{
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #224FBC;
}

.about {
    left: 50%;
    font-weight: 300;
    color: white;
    font-family: "Open Sans", sans-serif;
    text-align: justify;
    position: absolute;
}


.links {
    float: left;
    /*list-style-type: none;*/
    color: white;
    font-size: 400%;
    letter-spacing: .25em;
    /*margin-left: 20%;*/
    position: absolute;
    top: 25%;
    left: 25%;
}

li {
    list-style-type: none;
}

li .label {

    font-family: "Verana One", serif;
    letter-spacing: .25em;
    font-size: 100%;
    visibility: hidden;
}

a{
    color: white;
}

li:hover  *{
    /*color: #224FBC;
    background-color: white;*/
    background-color: #216DFF;
}
li:hover .label {
    visibility: visible;
    color: #224FBC;
    background-color: #216DFF;
}

.copyright {
    color: #216DFF;
    font-family: "Open Sans", sans-serif;
    position: fixed;
    left: 2em;
    top: 90%;
}
