nav {
    position: fixed;
    top: var(--font-medium);
    /* width: 10%; */
    right: 80%;
    margin: 0 var(--spacer-large);
}
nav ul {
    list-style: none;
}

nav ul li {
    font-size: var(--font-small);
    padding: calc(var(--spacer-small) * 0.5);
}

nav ul a {
    text-decoration: none;
    text-align: right;
    color: var(--color-primary);
}
nav ul a:visited {
    color: var(--color-primary);
}
nav ul a:hover {
    color: var(--color-secondary);
}

#profile {
    height: calc(var(--font-small) * 2 + var(--font-medium) * 3 + var(--spacer-large) * 0.5);
    margin: 0 0 calc(var(--spacer-small) * 0.5) 0;
}