@import url('https://fonts.googleapis.com/css?family=Inknut+Antiqua|Montserrat&display=swap');

* {
    --font-large: 32pt;
    --font-medium: 18pt;
    --font-small: 12pt;

    --spacer-large: 4em;
    --spacer-medium: 2em;
    --spacer-small: 1em;

    --color-primary: blue;
    --color-secondary: yellow;
    --color-highlight: purple;
    --color-body: black;
    --color-light: gray;

    margin : 0;
    padding : 0;
    border : none;
    font-family: 'Montserrat', sans-serif;
}
