
#body-container {
    width: 60vw;
    margin: auto;
}

/* HEADER*/
#body-container header {

}
#body-container header h1 {
    font-family: 'Inknut Antiqua', serif;
    font-size: var(--font-medium);
    font-weight: bold;
    color: var(--color-primary);
}
#body-container header h2 {
    font-size: var(--font-small);
    font-weight: bold;
}
#body-container header h3 {

}

/* ARTICLE */
#body-container article *{
    font-size: var(--font-small);
    line-height: 1.5em;
}
#body-container article section.page-section{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: "section-header section-body";

    margin: 0 0 var(--spacer-large);
}
#body-container article section.page-section h1.page-section{
    font-family: 'Inknut Antiqua', serif;
    font-weight: bold;
    grid-column: 1;
}
#body-container article section.page-section>*:not(.page-section) {
    grid-column: 2;
}
#body-container article section.page-section h2{
    font-family: 'Inknut Antiqua', serif;
    font-weight: bold;
    margin: 0 0 var(--spacer-small) 0;
}
#body-container article section.page-section p{
    margin: 0 0 var(--spacer-medium) 0;
}
#body-container article section.page-section img{
    
}
#body-container article section.page-section img.background{
    z-index: 1000;
    position: absolute;
}


