<div class="container">
    <link rel="stylesheet" type="text/css" href="./styles/partials/apology.css">
    <div id="apology">
        <p>
            Apologies for the clutter. I'm currently in the process of turning this into a staticly generated site with 11ty. In the mean time, you can find most of my work in the source code of this site, which-- along with my other projects-- can be found on my <a href="https://github.com/mluebbers">GitHub.</a>
        </p>
    </div>
</div>