{% macro list(source, root) %}
<div class="container">
    <link rel='stylesheet' type='text/css' href='{{root}}/styles/partials/feed.css'>
    <ul id="feed">
        {%- for post in source | reverse -%}
            {% if post.data.layout == "article" %}
                <li class="article"><a href="{{root}}{{ post.url | url}}">
                    <div class="header">
                        <div>
                            <div class="title">{{ post.data.title }}</div>
                            <div class="subtitle">{{ post.data.subtitle }}</div>
                        </div>
                        <div class="date">{{ post.date | getDay }}.{{ post.date | getMonth }}.{{ post.date | getYear }}</div>
                    </div>
                    <div class="extract">
                        {{ post.data.extract }}
                    </div>
                </a></li>
            {% elif post.data.layout == "project" %}
               <li class="project"><a href="{{ root }}{{ post.url | url}}">
                    <div class="header">
                        <div>
                            <div class="title">{{ post.data.title }}</div>
                            <div class="subtitle">{{ post.data.subtitle }}</div>
                        </div>
                        <div class="date">{{ post.date | getDay }}.{{ post.date | getMonth }}.{{ post.date | getYear }}</div>
                    </div>
                    <div class="extract">
                        {{ post.data.extract }}
                    </div>
                </a></li>
            {% endif %}
        {%- endfor -%}
    </ul>
</div>
{% endmacro %}