<div class="container">
    <link rel="stylesheet" type="text/css" href="./styles/partials/footer.css">
    <footer id="footer">
        <span class="date">Fall 2019</span>
        <span class="email">max_luebbers@brown.edu</span>
    </footer>
</div>