<div class="container" style="bottom: 0; position: --webkit-sticky; position: sticky;">
    <link rel="stylesheet" type="text/css" href="./styles/partials/footer.css">
    <footer id="footer">
        I just graduated from Brown University where I studied computer systems and multimedia/music production with additional coursework in art history, linguistics, and design @ RISD. My personal work focuses on web-based audio installations. 
        Recently I've been translating my design process to become more web-native, grappling with the historicity and plasticity of web-pages and browsers. Throughout my time at Brown I've been involved in teaching both music and computer science, TA'ing "Composing in Ableton Live" and "Intro to Object Oriented Programming."
        <br></br>
        I'm available to <a href="mailto:freelance@maxluebbers.com">freelance</a>! Take a look at some of my projects, studies and my resumé.
        <div id="links">
            <div>Links</div>
            <ul>
                <li><a target="_blank" href="./media/resume.pdf">Resume</a>↗</li>
                <li><a target="_blank" href="https://github.com/MLuebbers">Github</a>↗</li>
                <li><a target="_blank" href="https://soundcloud.com/max-luebbers">SoundCloud</a>↗</li>
                <li><a target="_blank" href="https://www.linkedin.com/in/max-luebbers-a03b0a156/">LinkedIn</a>↗</li>
            </ul>
        </div>
    </footer>
</div>