<div class="container">
    <link rel="stylesheet" type="text/css" href="./styles/partials/navbar.css">
    <nav id="navbar">
        <img id="profile" src="./media/profile.png"/>
        <ul>
            <a class="button" href="./index.html"><li>Home</li></a>
            <a class="button" href="./pages/personas.html"><li>CIT Elevators</li></a>
            <a class="button" href="./pages/redesign.html"><li>Food Network</li></a>
            <a class="button" href="./pages/iterative_design.html"><li>Simmer</li></a>
            <a class="button" href="./pages/creative_coding.html"><li>wwww</li></a>
        </ul>
    </nav>
</div>