<div class="container">
    <link rel="stylesheet" type="text/css" href="./styles/partials/tags.css">
    <div id="tags">
        {% set tags = collections%}
        {%- for tag in tags | dictsort-%}
            <span class="tag">#<a>{{ tag[0] }}</a></span>
        {%- endfor -%}
    </div>
</div>