<!DOCTYPE html>

<html>
    <head>
        <title>Max Luebbers</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.2/p5.js"></script>

        <link rel="stylesheet" href="./styles/index.css">
        <link rel="stylesheet" href="./styles/project.css">
        <link rel="stylesheet" href="./styles/background.css">

         <script src="./scripts/waveform.js"></script>
        <script src="./scripts/title.js"></script>
       
    </head>
    <body>
        <div id="body-container">
            <nav>
                <img id="profile" src="./images/profile.png"/>
                <ul>
                    <a class="button" href="./index.html"><li>Home</li></a>
                    <a class="button" href="./pages/personas.html"><li>CIT Elevators</li></a>
                    <a class="button" href="./pages/redesign.html"><li>Food Network</li></a>
                    <a class="button" href="./pages/iterative_design.html"><li>Simmer</li></a>
                    <a class="button" href="./pages/creative_coding.html"><li>wwww</li></a>
                </ul>
            </nav>
            <div id="project-container">
                <div id="title-container">
                    <div class="title">Max Luebbers</div>
                    <div class="subtitle">Full-Stack Developer & Creative Coder</div>
                </div>

                <div id="project">
                    <div id="about" class="section">
                        <div class="title">About</div>
                        <div class="body-container">
                            <div class="body">
                                Hey, I'm Max! I study Computer Science and Multimedia & Electronic Music at Brown University. As a full-stack developer with experience in back-end architectures and iterative design
                                principals, my work focuses on the combination of systems,
                                interface design, and music.
                            </div>
                        </div>
                    </div>
                     <div id="Sound" class="section">
                        <div class="title">Sound</div>
                        <div class="body-container">
                            <div class="body">
                                Moving your mouse will draw a waveform. When you stop moving your mouse, the sound will be accurately played back to you. This was developed using p5.js and the 
                                WebAudio API.
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            {% include "partials/footer.njk" %}
        </div>
    </body>
</html>