---
permalink: "/pages/articles/{{ page.date | date: '%Y-%m-%d' }}-{{ title | slug}}.html"
---
<doctype! html>
<html>
    <head>
        <title>{{ title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../styles/index.css">
        <link rel="stylesheet" href="../../styles/page.css">
    </head>
    <body>
        <div id="body-container">
            <header>
                <div>
                    <div class="title"><a href="{{root}}/{{page.url |url}}">{{ title | safe }}</a>↗</div>
                    <div class="subtitle">{{ subtitle | safe}}</div>
                </div>
                <div class="tags">
                {%- for tag in tags -%}
                    <span class="tag">#<a href="{{ root }}/pages/list/tag-{{ tag | slug }}.html">{{ tag | safe }} </a></span>
                {%- endfor -%}
                </div>
            </header>     
            <article>
                {{ content | safe}}
            </article>
        </div>
    </body>
</html>