---
permalink: "/pages/projects/{{ page.date | date: '%Y-%m-%d' }}-{{ title | slug}}.html"
---
<doctype! html>
<html>
    <head>
        <title>{{ title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../styles/index.css">
        <link rel="stylesheet" href="../../styles/page.css">
    </head>
    <body>
        <div id="body-container">
            {% include "partials/navbar.njk" %}
            <header>
                <h1>{{ title | safe }}</h1>
                <h2>{{ subtitle | safe}}</h2>
                <h3 class="tags">{{ tags | safe }}</h3>
            </header>     
            <article>
                {{ content | safe}}
            </article>
        </div>
    </body>
</html>