@import url('https://fonts.googleapis.com/css?family=Inknut+Antiqua|Montserrat&display=swap');

* {
    --font-large: calc(12px + 2vmin);
    --font-medium: calc(12px + 0.5vmin);
    --font-small: calc(12px + 0vmin);

    --spacer-large: 4rem;
    --spacer-medium: 2rem;
    --spacer-small: 1rem;

    --color-primary: blue;
    --color-secondary: yellow;
    --color-highlight: purple;
    --color-important: red;
    --color-body: black;
    --color-light: gray;
    --color-background: lightgray;

    margin : 0;
    padding : 0;
    border : none;
    
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: var(--spacer-small);
    background-color: var(--color-background);
    color: var(--color-body);
    font-size: var(--font-small);
}

/* LINKS */
a:visited{
    color: var(--color-primary);
}
a {
    color: var(--color-primary);
}
a:hover {
    color: var(--color-secondary);
}

*::selection {
    background-color: var(--color-light);
}



@media only screen and (min-width: 1000px) {
    * {
        --font-large: calc(4vmin);
        --font-medium: calc(3vmin);
        --font-small: calc(2vmin);
    }
}

